<!DOCTYPE html>
<html>
    <head>
        <title>
            Flask Application
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <style>
            body {
              background-image: url('https://st3.depositphotos.com/12982378/36297/i/600/depositphotos_362978634-stock-photo-cropped-view-woman-showing-letters.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100% 100%;
            }
            </style>
        	<div class="container-fluid" style="margin-top: 20px;">
            <h1 style="color: #440475; margin-bottom: 10px; " >Communication Portal For Dumb and Deaf</h1>

            <div class="row">
                <div class="col-lg-6 col-md-6 ">
                <img src="{{ url_for('video_feed') }}" width="100%">
                </div>
                <div class="col-lg-6 col-md-6" style="font-size: 25px; color: #000075; font-weight: bold;">
                <p>The only means of communication for deaf and dumb people is the sign language.
                This application helps the deaf and dumb person to communicate with rest of the world using sign language.
                HGRVC (Hand Gesture Recognition and Voice Conversion) system localizes and track the hand gestures of the dumb and deaf 
                people in order to maintain a communication channel with the other people.
                The method gives output in text format that helps to reduce the communication gap between deaf-mute and people.</p>
                </div>
            </div>
        </div>
        </body>
</html>